@using BTL_LTWeb.Models.EF
@model List<Product>

<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Related</span> Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="@Url.Action("ProductDetails", "Product", new { @id = item.id })">
                               <img src="@Url.Content("~/Asset/client/img/products/" + item.image_link)" alt="">
                            </a>
                        </div>
                        <h3>@item.name</h3>
                        <p class="product-price">@string.Format("{0:0.##}", item.price)$ </p>
                        <a href="@Url.Action("ProductDetails", "Product", new { @id = item.id })" class="cart-btn"> View Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
